body {
    background-image: url("https://img.freepik.com/free-vector/poker-table-background-green-color_47243-1094.jpg?size=626&ext=jpg");

    background-size: 110%;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    position: absolute;
    top: 5%;
    left: 20%;
    text-decoration: underline;
    font-size: 60px;
    font-family: "Goudy Old Style";
    text-shadow: 1px 1px white;

}
.drawDeck-cards{
    position: absolute;
    top: 70%;
    left: 45%;

}
.deal-text{
    text-align: center;
    font-size: 30px;
    font-family: "Goudy Old Style";
    color: #a954f4;
    text-shadow: 1px 1px black;
    font-weight: bold;
}
#message{
    position: absolute;
    top: 80%;
    left: 20%;
    font-size: 20px;
    font-family: "Goudy Old Style";
    font-weight: bold;


}
#playArea{
    position: absolute;
    top: 20%;
    left: 10%;
}
#discardPile{
    position: absolute;
    top: 75%;
    left: 20%;
}
.discarded{
    position: absolute;
    top: 70%;
    left: 85%;
}
#dealersHand{
    position: absolute;
    top: 40%;
    left: 80%;
}
#playersHand{
    position: absolute;
    top: 40%;
    left: 10%;
}
#playerOneText{
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 40px;
    font-family: "Goudy Old Style";
    color: darkblue;
    text-shadow: 1px 1px deepskyblue ;
    font-weight: bold;
    text-decoration: underline;
}
#dealersText{
    position: absolute;
    top: 30%;
    left: 80%;
    font-size: 40px;
    font-family: "Goudy Old Style";
    color: darkred;
    text-shadow: 1px 1px #ff4704;
    font-weight: bold;
    text-decoration: underline;
}
#discardPileText{
    position: absolute;
    top: 93%;
    left: 85%;
    font-size: 30px;
    font-family: "Goudy Old Style";
    color: black;
    text-shadow: 1px 1px white;
    font-weight: bold;

}
#resultsMessage{
    position: absolute;
    top: 20%;
    left: 40%;
    font-size: 50px;
    font-weight: bold;
    font-family: "Times New Roman";
    color: white;
    text-shadow: 2px 2px black;
}
#playOneScore{
    position: absolute;
    top: 63%;
    left: 10%;
    font-size: 30px;
    font-family: "Times New Roman";
    color: darkblue;
}
#dealerScore{
    position: absolute;
    top: 63%;
    left: 80%;
    font-size: 30px;
    font-family: "Times New Roman";
    color: darkred;

}
#backToHome{
    width: 200px;
    height: 60px;
    position: absolute;
    top: 85%;
    left: 5%;
    font-size: 20px;
    font-weight: bold;
    font-family: "Times New Roman";
    ;
}